*{
    margin: 0;
    box-sizing: border-box;
}

.bandera{
    width: 70px;
    height: 150px;
    background-color: black;
    margin: 80px;
    box-shadow: 70px 0 #fdda25, 140px 0 #ef3340;
    filter: drop-shadow(0 0 1px);
    -webkit-filter: drop-shadow(0 0 10px);
}
